Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

Ans - Mongodb is a type of unstructured database known as nosql it is used to store manage and retrieve data in collection or json format means in dictionary type.

Non relational database are those type of database where we don't have to use tabular format to store values corresponding to that attributes rather in non relational database we can create different types of attributes and give different types of values as per our need using document or key value pair structure.

Scenario where mongodb is more preferred over sql database is where we don't want database to be structured meaning a particular attribute should only contain values as per the attribute.

Q2. State and Explain the features of MongoDB.


Ans - 1.Document Oriented - Mongodb is documnet oriented database as it stores data in JSON like documents collections where each records can be identified with different object id.

2.Aggregation - In mongodb we can perform aggregation process to get a single result from group of data this include $match,$group,$sort.

3.Schemaless Databses - In mongodb the database will create collections which is in dictionary/document format here we can set differnt attributes with different datatypes as per our need because of this feature mongodb becomes flexible compared to SQL.

4.Gridfs - It is used to store and access large amount of data,it divides those data into smaller chunks of data and is stored in different documnets.

5.indexing-mongodb stores the records in indexed manner which becomes inportant dealing with searching queries.

6.High Performance - In mongodb when the workload is increased then those workloads get divided into multiple servers which enchances the scalability and performance and hence mongodb achieves high performance.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [16]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.4.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo

In [2]:
from pymongo.mongo_client import MongoClient

uri = "mongodb+srv://adityakundhe11:adityakundhe11@cluster0.yiomaah.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri)

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
print(client)

MongoClient(host=['ac-y5r6dfh-shard-00-01.yiomaah.mongodb.net:27017', 'ac-y5r6dfh-shard-00-00.yiomaah.mongodb.net:27017', 'ac-y5r6dfh-shard-00-02.yiomaah.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-e07f1n-shard-0', tls=True)

In [4]:
my_db = client["test_db"]

In [5]:
my_collection = my_db["test_collection"]

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
data1 = {
    "name":"aditya",
    "age":23,
    "address":"pune"
}

In [7]:
my_collection.insert_one(data1)

In [8]:
data2 = [
    {"name":"amith","age":24,"address":"bidar"},
    {"name":"girish","age":23,"address":"pune"},
    {"name":"arif","age":23,"address":"bihar"},
]

In [9]:
my_collection.insert_many(data2)

In [10]:
my_collection.find_one()

{'_id': ObjectId('64ccb1beb5fda275c61568b3'),
 'name': 'aditya',
 'age': 23,
 'address': 'pune'}

In [11]:
x = my_collection.find()
for i in x:
    print(i)

{'_id': ObjectId('64ccb1beb5fda275c61568b3'), 'name': 'aditya', 'age': 23, 'address': 'pune'}
{'_id': ObjectId('64ccb1c0b5fda275c61568b4'), 'name': 'amith', 'age': 24, 'address': 'bidar'}
{'_id': ObjectId('64ccb1c0b5fda275c61568b5'), 'name': 'girish', 'age': 23, 'address': 'pune'}
{'_id': ObjectId('64ccb1c0b5fda275c61568b6'), 'name': 'arif', 'age': 23, 'address': 'bihar'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [12]:
'''In momgodb Find() is like a cursor that is used to iterate through documents. It can be used in two ways either to
see all the documents or by providing some constrains/query in find(). Constraints can be to fing greater than,less than,
or a specific record by using $ which is a reserved keyword in mongodb'''
"Suppose i want to find all the records where age < 24"
x = my_collection.find({"age":{"$lt":24}})
for i in x:
    print(i)

{'_id': ObjectId('64ccb1beb5fda275c61568b3'), 'name': 'aditya', 'age': 23, 'address': 'pune'}
{'_id': ObjectId('64ccb1c0b5fda275c61568b5'), 'name': 'girish', 'age': 23, 'address': 'pune'}
{'_id': ObjectId('64ccb1c0b5fda275c61568b6'), 'name': 'arif', 'age': 23, 'address': 'bihar'}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [13]:
'''The sort() is used to sort the records in either ascending or decending order. In mongodb the syntax used for order is
pymongo.ASCENDING for ascending and pymongo.DESCENDING for decending'''
# inserting a new record with marks attribute
my_collection2 = my_db["new_collection"]
data3 = [
    {"name":"aditya","marks":78},
    {"name":"amith","marks":73},
    {"name":"girish","marks":81},
    {"name":"arif","marks":68},
    {"name":"rohan","marks":70}
]
my_collection2.insert_many(data3)
x = my_collection2.find().sort("marks", pymongo.ASCENDING)
for i in x:
    print(i)

{'_id': ObjectId('64ccb1c8b5fda275c61568ba'), 'name': 'arif', 'marks': 68}
{'_id': ObjectId('64ccb1c8b5fda275c61568bb'), 'name': 'rohan', 'marks': 70}
{'_id': ObjectId('64ccb1c8b5fda275c61568b8'), 'name': 'amith', 'marks': 73}
{'_id': ObjectId('64ccb1c8b5fda275c61568b7'), 'name': 'aditya', 'marks': 78}
{'_id': ObjectId('64ccb1c8b5fda275c61568b9'), 'name': 'girish', 'marks': 81}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

Delete_one() is used to delete a single record from the collection based on the condition we pass as a parameter only the first one encountered will be deleted.

Delete_many() will work same as delete_one() but here muliple record with same parameters will be deleted.

drop() will delete the entire collection of the selected collection.

my_collection.delete_one({"age":24})

my_collection.delete_many({"age":23})

my_collection.drop()